body {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-700);
  background-color: var(--gray-50);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
}